# Ignore Everything
*

# But not .cpp  .txt  .h
!*.cpp
!*.txt
!*.h
!*.docx
!*.pdf
!*.c



# Or directories
!*/
Scrap/


#git ls-files -i -c --exclude-from=.gitignore | xargs git rm --cached     ->to get files ignored by .gitignore

#git rm --cached filename   									          ->to remove staged file
#git config --global core.excludesfile ~/.gitignore_global  	          -> adding .gitignore to global config 
